/******* farver *******************/
:root {
  --color-baggrundfarve: #363636;

  --color-tekstfarve: #ffffff;

  --color-teksthover: #4051e7;

  --color-knapfarve: #969696;

  --color-headerogfooterfarve: #1e1e1e;
}

/******* skriftstørrelser *******************/
h1 {
  font-size: 2.5rem;
  font-family: "Special Elite", system-ui;
}

h3 {
  font-size: 1.4rem;
  font-family: "Special Elite", system-ui;
}

h4 {
  font-size: 1rem;
  font-family: "Special Elite", system-ui;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Amarna", sans-serif;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 65ch;
  }
}

/******************** menu *****************/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-headerogfooterfarve);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--color-tekstfarve);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: var(--color-teksthover);
}

.menu .round-btn a:hover {
  color: var(--color-tekstfarve);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-tekstfarve);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.round-btn {
  padding: 4px 8px;

  border-radius: 15%;
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-knapfarve);
  font-size: 1rem;
}
.round-btn:hover {
  background-color: var(--color-teksthover); /* ny farve når musen er over */
  color: var(--color-tekstfarve);
}

@media screen and (max-width: 897px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    z-index: 10; /* sørger for at burgeren ligger over andet indhold */
    right: 20px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: right;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  nav.active .menu .round-btn {
    margin-left: auto;
  }
}

body {
  background-color: var(--color-baggrundfarve);
}

/*************** Footer *********************/
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer {
  background-color: var(--color-headerogfooterfarve);
  font-size: 1rem;
  /* for at få footeren til altid at være i bunden af siden*/
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#booking {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.medier {
  width: 48px;
  height: 48px;
}

.socialemedier {
  align-self: center;
  justify-self: end;
  margin-right: 3rem;
  grid-column: 3/4;
}
.socialemedier a {
  margin-right: 1rem;
}
.medier:hover {
  transform: scale(1.2);
}
footer a {
  text-decoration: none;
  color: var(--color-tekstfarve);
}

footer a:hover {
  color: var(--color-teksthover);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  margin-left: 3rem;
}

.logo {
  width: 150px;
  place-self: center;
}
