/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile {
  display: none;
}

/*** layout ***/
.collage {
  text-align: center;
  background-position: center;
  background-size: contain;
  background-image: url(/collage.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
}

.collage {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.box-1 {
  grid-column: 4/8;
  grid-row: 2/4;
}
.box-1 {
  color: white;
  font-size: 8rem;
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
}

/*** font ****/

.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  /***** layout ****/
  .mobile {
    display: block;
  }

  .grid_3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
  }

  .img1 {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 30px;
  }
  .img2 {
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 40px;
  }
  .img3 {
    grid-column: 3/5;
    grid-row: 1/3;
    padding: 50px;
  }

  .grid_2-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
  }
  .img5 {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 30px;
  }

  .img8 {
    grid-column: 2/4;
    grid-row: 2/5;
    padding: 40px;
  }

  .img4 {
    grid-column: 3/5;
    grid-row: 1/2;
    padding: 70px;
    margin-bottom: 100px;
  }
  .collage {
    display: none;
  }
  main {
    padding-bottom: 20px;
  }

  /******* Syle *****/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /** fonts ***/

  .MK {
    padding-top: 100px;
    font-family: "Rubik Distressed", system-ui;
    color: white;
    font-size: 1rem;
    text-align: center;
  }
}
