.mobile {
  display: none;
}

/*** layout ***/
.collage {
  text-align: center;
  background-size: contain;
  background-image: url(/collage.jpg);
  height: 100vh;
}

@media screen and (max-width: 800px) {
  /***** layout ****/
  .mobile {
    display: block;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
  }

  .img1 {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 30px;
  }
  .img2 {
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 40px;
  }
  .img3 {
    grid-column: 3/5;
    grid-row: 1/3;
    padding: 50px;
  }

  .grid_2-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
  }
  .img5 {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 30px;
  }

  .img8 {
    grid-column: 2/4;
    grid-row: 3/5;
    padding: 40px;
  }

  .img4 {
    grid-column: 3/5;
    grid-row: 1/3;
    padding: 70px;
  }
  .collage {
    display: none;
  }

  /******* Syle *****/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-block: 1.2rem;
    box-shadow: 20px 30px 10px black;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .MK {
    padding-top: 200px;
    font-size: 1rem;
    text-align: center;
  }
}
