/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Fonte *********************/
h1 {
  font-size: 30px;
  text-align: center;
  color: #ea0004;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  color: white;
  margin-bottom: 1rem;
}

/*************** Medlemmerne *********************/
.MK {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 50px;
}

.mod_bandet {
  margin: 1rem;
}

.mod-bandet-img {
  margin-bottom: 1rem;
}

.medlem {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid white;
  position: relative;
}

.billede {
  position: relative;
}

.img.hover {
  display: none;
}

.medlem img {
  width: 100%;
  display: block;
}

/* Tekst ovenpå billede */
.medlem .om_medlem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;

  color: white;
  font-family: "Impact", sans-serif; /* skal ændres */
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.medlem h3 {
  font-size: 1.4rem;
  margin: 0;
}

.medlem p {
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .MK {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .mod_bandet {
    place-self: center;
    width: 65%;
  }

  .billede {
    position: relative;
    overflow: hidden;
  }

  .img {
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .img.hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .medlem:hover .img.hover {
    opacity: 1;
  }

  .medlem:hover .img.normal {
    opacity: 0;
  }

  .medlem:hover .img {
    transform: scale(1.05);
  }
}
